/* @property --gradient-width   { syntax: '<length-percentage>'; inherits: false; initial-value: 120%; }
@property --gradient-height  { syntax: '<length-percentage>'; inherits: false; initial-value: 120%; }
@property --center-h         { syntax: '<length-percentage>'; inherits: false; initial-value: 50%; }
@property --center-v         { syntax: '<length-percentage>'; inherits: false; initial-value: 0%; }
@property --inner-color      { syntax: '<color>';             inherits: false; initial-value: transparent; }
@property --inner-color-stop { syntax: '<percentage>';        inherits: false; initial-value: 0%; }
@property --outer-color      { syntax: '<color>';             inherits: false; initial-value: transparent; }
@property --outer-color-stop { syntax: '<percentage>';        inherits: false; initial-value: 60%; }
@property --card-width { syntax: '<length>';                  inherits: false; initial-value: 100px; } */



:root {
}

body {
}